<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lanterna</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="nav_left" role="navigation">
          <div class="name" role="banner">Lanterna</div>
          <div class="nav_links" role="navigation">
            <div>
              <a href="./index.html">How it works</a>
            </div>
            <div><a href="./index.html">Tutors</a></div>
            <div><a href="./index.html">Subjects</a></div>
            <div><a href="./index.html">Prices</a></div>
            <div><a href="./index.html">Why lanterna</a></div>
          </div>
        </div>
        <div class="nav_right" role="navigation">
          <div><a href="./index.html">Login</a></div>
          <div class="nav_book">
            <div><a href="./index.html">Talk with an advisor</a></div>
            <button class="book_now_btn">
              <a href="./index.html">Book now</a>
            </button>
          </div>
        </div>
        <div class="menu_icon">
          <img src="./media/icons/menu.png" alt="" />
        </div>
      </nav>
      <header class="intro">
        <div class="intro_tag">
          <h1>
            Unlock your potential with<br />online
            <span class="intro_span"
              ><strong class="intro_bold">IB</strong> &amp;
              <b class="intro_bold">IGSCE</b> tutoring.</span
            >
          </h1>
        </div>
        <div class="intro_right">
          <div><p>We are here to get the grades you need</p></div>
          <div>
            <button class="intro_right_yellow-bg">
              Get matched with your tutor
            </button>
            <div><a href="./index.html">Talk with an advisor</a></div>
          </div>
        </div>
      </header>
      <article class="hero_image">
        <img src="./media//mainImage.png" alt="hero image.png" />
      </article>
      <article class="gradient">
        <div class="score_container">
          <div class="card">
            <div class="person_icon_container">
              <img src="./media/user-outline.svg" alt="" />
            </div>
            <div class="rating">
              <p>4.8/5</p>
              <p>On Trustpilot</p>
            </div>
          </div>
          <div class="card">
            <div class="person_icon_container">
              <img src="./media/user-outline.svg" alt="" />
            </div>
            <div class="rating">
              <p>+10000</p>
              <p>students helped</p>
            </div>
          </div>
          <div class="card">
            <div class="person_icon_container">
              <img src="./media/user-outline.svg" alt="" />
            </div>
            <div class="rating">
              <p>50000</p>
              <p>hours taught</p>
            </div>
          </div>
        </div>
      </article>
      <article class="achievements">
        <div class="achievements_header">
          <p>Your success is our success.</p>
          <p>See why we are trusted <span>by +500 schools</span></p>
        </div>
        <div class="achievements_para">
          <p>
            Due to the current global situation,it is more difficult than ever
            to keep up with school.
          </p>
          <p>
            Studying from home is challenging for everyone and the exams in 2021
            will not.
          </p>
        </div>
        <div class="achievements_grid">
          <div class="grid_container">
            <div class="icon_wrapper">
              <div class="clip_path_icon color1 position1"></div>
              <img
                class="achievements_icon"
                src="./media/icons/top.png"
                alt=""
              />
            </div>
            <h4>Top 1 % tutors</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos,
              exercitationem.Lorem ipsum dolor.
            </p>
          </div>
          <div class="grid_container">
            <div class="icon_wrapper">
              <div class="clip_path_icon color2 position2"></div>
              <img
                class="achievements_icon"
                src="./media/icons/tutor.png"
                alt=""
              />
            </div>
            <h4>Best tutor matching</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos,
              exercitationem.Lorem ipsum dolor.
            </p>
          </div>
          <div class="grid_container">
            <div class="icon_wrapper">
              <div class="clip_path_icon color3 position3"></div>
              <img
                class="achievements_icon"
                src="./media/icons/support.png"
                alt=""
              />
            </div>
            <h4>Personalised support</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos,
              exercitationem.Lorem ipsum dolor.
            </p>
          </div>
          <div class="grid_container">
            <div class="icon_wrapper">
              <div class="clip_path_icon color3 position4"></div>
              <img
                class="achievements_icon"
                src="./media/icons/methodology.png"
                alt=""
              />
            </div>
            <h4>Proven methodology</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos,
              exercitationem.Lorem ipsum dolor.
            </p>
          </div>
          <div class="grid_container">
            <div class="icon_wrapper">
              <div class="clip_path_icon color1 position5"></div>
              <img
                class="achievements_icon"
                src="./media/icons/experience.png"
                alt=""
              />
            </div>
            <h4>Real life experience</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos,
              exercitationem.Lorem ipsum dolor.
            </p>
          </div>
          <div class="grid_container">
            <div class="icon_wrapper">
              <div class="clip_path_icon color2 position6"></div>
              <img
                class="achievements_icon"
                src="./media/icons/relationship.png"
                alt=""
              />
            </div>
            <h4>University relationships</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos,
              exercitationem.Lorem ipsum dolor.
            </p>
          </div>
        </div>
      </article>
      <article class="steps_background_wrapper">
        <div class="steps_background"></div>
        <article class="steps_wrapper">
          <div class="steps_container">
            <div class="steps_intro">
              <h3>It's easy to get started</h3>
              <p>
                We'll put some happy little faces here and there.In nature, dead
                trees are just as normal as live trees.The very fact that you're
                aware of suffering isenough reason to be overjoyed that you're
                alive and can experience it.
              </p>
            </div>
            <div class="steps_flex">
              <div>
                <div class="placeholder_container">
                  <img src="./media/static/placeholder2.avif" alt="" />
                  <div class="placeholder_number color1">1</div>
                </div>
                <div class="placeholder_text_container">
                  <p>Book a package that suits your needs!</p>
                  <p class="steps_header_para">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Dolor, illum?
                  </p>
                </div>
              </div>
              <div>
                <div class="placeholder_container">
                  <img src="./media/static/placeholder.avif" alt="" />
                  <div class="placeholder_number color2">2</div>
                </div>
                <div class="placeholder_text_container">
                  <p>We will choose a tutor that fits you perfectly</p>
                  <p class="steps_header_para">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Dolor, illum?
                  </p>
                </div>
              </div>
              <div>
                <div class="placeholder_container">
                  <img src="./media/static/placeholder3.avif" alt="" />
                  <div class="placeholder_number color3">3</div>
                </div>
                <div class="placeholder_text_container">
                  <p>Within hours you will be introduced to your tutor</p>
                  <p class="steps_header_para">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Dolor, illum?
                  </p>
                </div>
              </div>
            </div>
            <button class="steps_button">Book your online tutoring</button>
          </div>
        </article>
      </article>
      <div class="breaker_line"></div>
      <article class="testimonials">
        <div class="testimonials_header">
          <p>Meet other students</p>
          <p>
            5-star reviews on <span class="star">&#9733;</span>
            <span>Trustpilot</span>
          </p>
          <p>from <span class="underline">satisfied</span> customers</p>
        </div>
        <div class="testimonials_card_container">
          <div class="testimonial_card">
            <p>
              Firstly the website of Lanterna Education is so easy to open and
              access.Also there are plentiful resources available for free
            </p>
            <div class="testimaonial_rating_container">
              <div class="rating">
                <span class="star"
                  >&#9733; &#9733; &#9733; &#9733; &#9733;</span
                >
                4.8/5
              </div>
              <div class="testimonial_author">Claudia clamper</div>
            </div>
          </div>
          <div class="testimonial_card">
            <p>
              Firstly the website of Lanterna Education is so easy to open and
              access.Also there are plentiful resources available for free
            </p>
            <div class="testimaonial_rating_container">
              <div class="rating">
                <span class="star"
                  >&#9733; &#9733; &#9733; &#9733; &#9733;</span
                >
                4.8/5
              </div>
              <div class="testimonial_author">Claudia clamper</div>
            </div>
          </div>
          <div class="testimonial_card">
            <p>
              Firstly the website of Lanterna Education is so easy to open and
              access.Also there are plentiful resources available for free
            </p>
            <div class="testimaonial_rating_container">
              <div class="rating">
                <span class="star"
                  >&#9733; &#9733; &#9733; &#9733; &#9733;</span
                >
                4.8/5
              </div>
              <div class="testimonial_author">Claudia clamper</div>
            </div>
          </div>
        </div>
      </article>
      <article class="steps_wrapper">
        <div class="steps_container">
          <div class="steps_intro">
            <p id="advisor_tag">
              <span class="underline">Our adviser.</span>With you 360
            </p>
            <p>
              We'll put some happy little faces here and there.In nature, dead
              trees are just as normal as live trees.The very fact that you're
              aware of suffering isenough reason to be overjoyed that you're
              alive and can experience it.
            </p>
          </div>
          <div class="steps_flex">
            <div>
              <div class="placeholder_container">
                <img src="./media/static/placeholder4.avif" alt="" />
              </div>
              <div class="placeholder_text_container">
                <p>Why i believe tutoring can help everyone</p>
                <p class="steps_header_para">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Dolor, illum?
                </p>
              </div>
            </div>
            <div>
              <div class="placeholder_container">
                <img src="./media/static/placeholder.avif" alt="" />
              </div>
              <div class="placeholder_text_container">
                <p>We will choose a tutor that fits you perfectly</p>
                <p class="steps_header_para">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Dolor, illum?
                </p>
              </div>
            </div>
            <div>
              <div class="placeholder_container">
                <img src="./media/static/placeholder3.avif" alt="" />
              </div>
              <div class="placeholder_text_container">
                <p>Within hours you will be introduced to your tutor</p>
                <p class="steps_header_para">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Dolor, illum?
                </p>
              </div>
            </div>
          </div>
          <button class="steps_button">Book your online tutoring</button>
        </div>
      </article>
      <footer class="footer">
        <div class="footer_grid_container">
          <div class="footer_grid_wrapper">
            <div class="footer_grid">
              <div class="footer_nav_column">
                <h4>About Lanterna</h4>
                <div><a href="./index.html">About us</a></div>
                <div><a href="./index.html">Partners</a></div>
                <div><a href="./index.html">References</a></div>
                <div><a href="./index.html">Tutors</a></div>
                <div><a href="./index.html">Collaborations</a></div>
                <div><a href="./index.html">Work with us</a></div>
                <div class="footer_connect">
                  <h2>Connect with us</h2>
                  <div class="footer_icon_flex">
                    <a href="https://www.facebook.com/LanternaEducation/"
                      ><img
                        class="footer_icon"
                        src="./media/icons/fb.png"
                        alt=""
                    /></a>
                    <a href="https://twitter.com/lanternaedu?lang=en"
                      ><img
                        class="footer_icon"
                        src="./media/icons/twitter.png"
                        alt=""
                    /></a>
                  </div>
                </div>
              </div>
              <div class="footer_nav_column">
                <h4>For students</h4>
                <div><a href="./index.html">Free resources</a></div>
                <div><a href="./index.html">Blogg</a></div>
                <div><a href="./index.html">IB Online tutoring</a></div>
                <div><a href="./index.html">IGCSE tutoring</a></div>
                <div><a href="./index.html">FAQ</a></div>
                <div><a href="./index.html">Terms and conditions</a></div>
                <div><a href="./index.html">Payment</a></div>
                <div><a href="./index.html">Staying safe online</a></div>
              </div>
              <form action="./index.html" class="footer_nav_column">
                <h4>Contact us</h4>
                <input type="text" placeholder="Name" required />
                <input
                  type="tel"
                  pattern="[0-9]{10}"
                  placeholder="Phone number"
                  name="phoneNumber"
                  required
                  id=""
                />
                <input
                  type="email"
                  placeholder="Email"
                  name=""
                  id=""
                  required
                />
                <input type="text" placeholder="Message" required />
                <div class="footer_radio">
                  <label for="checkbox">I'm the</label>
                  <input type="radio" name="role" id="student" required />
                  <label for="student">Student</label>
                  <input type="radio" name="role" id="parent" />
                  <label for="parent">Parent</label>
                  <input type="radio" name="role" id="other" />
                  <label for="other">Other</label>
                </div>
                <button class="form_button" type="submit">Send message</button>
              </form>
            </div>
          </div>
        </div>
        <div class="footer_break_line"></div>
        <p class="footer_rights_para">
          All rights reserved.Copyright 2020 Lanterna Education ltd, not
          affiliated with the IBO.
        </p>
      </footer>
    </div>
  </body>
</html>
