<nav class="navbar">
  <div><a href="/">Home</a></div>
  <div class="navbar_right">
    <div><a href="/auth/signup/admin">Signup</a></div>
    <div><a href="/auth/login/admin">Login</a></div>
    <div><a href="/about">About</a></div>
  </div>
</nav>