<nav class="navbar">
  <div><a href="/">Home</a></div>
  <div class="navbar_right">
    {{#if user}}
      <div><p>{{user}}</p></div>
      <div><a href="/logout/admin">Logout</a></div>
    {{else}}
      <div><a href="/signup/admin">Signup</a></div>
      <div><a href="/">Login</a></div>
    {{/if}}
    <div><a href="/about">About</a></div>
  </div>
</nav>