<form action="/auth/signup/admin" method="post" class="admin_signup_form">
  <h2>Sign Up</h2>
  <label for="email">Enter Mail Id</label>
  <input type="email" id="email" name="Email" />
  <label for="firstname">First Name</label>
  <input type="text" id="firstname" name="First_Name" />
  <label for="lastname">Last Name</label>
  <input type="text" id="lastname" name="Last_Name" />
  <label for="password">Enter Password</label>
  <input type="password" id="password" name="Password" />
  <button type="submit">sign up</button>
</form>